

body {
    font-family: 'Yu Mincho';
    background-color: #000000;
    text-align: center;
    color:red
        }
    


h1 {
        font-size:200px;
        line-height:0.7
    }

p {
        font-size:60px;
        line-height:0.5
    }

table {
        font-size:50px;
        
}
